@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&subset=latin-ext');

* {
    font-family: 'Roboto Mono', monospace;
}

table, tr, .name {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #bbb;
}
td {
    padding: 0.7em;
}

.right{
    text-align: right;
}

th{
    background: #aaa;
    padding: 1em;
    cursor: pointer;
    transition: 0.5s;
}

th:hover{
    background: #ccc;
}

tr:nth-child(even) {
    background-color: #ccc;
}

.green{
    color: green;
}

.red{
    color: red;
}