<div style="text-align:center">
  <h2>
    Crypto Trading
  </h2>
  <div>Ostatnia aktualizacja: {{dateStamp | date:'medium':'':'pl'}}</div>
  <table>
    <tr>
      <th>Nazwa</th>
      <th>Symbol</th>
      <th>Cena</th>
      <th>Kapitalizacja</th>
      <th>Wolumen</th>
      <th>Zmiana</th>
    </tr>
    <tr *ngFor="let coin of coins">
      <td class="name">{{coin.long}}</td>
      <td>{{coin.short}}</td>
      <td>{{coin.price | currency:'':'':'0.4'}}</td>
      <td>{{coin.mktcap | number:'1.0-0'}}</td>
      <td>{{coin.volume | number:'1.0-0'}}</td>
      <td><span [class]="setChangeColor(coin.cap24hrChange)">{{coin.cap24hrChange | number:'.2'}}</span></td>
    </tr>
  </table>
</div>